node-red items/node-red flow.txt
[{"id":"a4499bfd.d23138","type":"function","z":"548aa71f.244668","name":"JSON parser","func":"p=msg.payload;\n\n var name = {payload: p.name_of_firefighter};\n var heart_rate = {payload: p.heart_rate};\n var body_temp = {payload: p.body_temp};\n var respiration_rate = {payload: p.respiration_rate};\n var SP_O2 = {payload: p.SP_O2};\n var ambient_temp = {payload: p.ambient_temp};\n\nmsg.topic = p.topic;\n\n\n\nreturn [heart_rate, body_temp, respiration_rate, SP_O2, ambient_temp,msg]\n//the order of output follows the sequence here^^^","outputs":6,"noerr":0,"x":270,"y":100,"wires":[["2e4133a7.b4cfac"],["9a0a08e6.aa90b8"],["8cf0e9df.a9ff78"],["21815f3.c1921a"],["688a15cd.5cd34c"],["7276572c.a73bd8"]]},{"id":"a7d1c808.776308","type":"inject","z":"548aa71f.244668","name":"","topic":"","payload":"{\"topic\":\"name_of_firefighter\",\"heart_rate\":128,\"body_temp\":37,\"respiration_rate\":55,\"SP_O2\":80,\"ambient_temp\":90}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["a4499bfd.d23138"]]},{"id":"2e4133a7.b4cfac","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":60,"wires":[]},{"id":"9a0a08e6.aa90b8","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":100,"wires":[]},{"id":"21815f3.c1921a","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":180,"wires":[]},{"id":"8cf0e9df.a9ff78","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":140,"wires":[]},{"id":"688a15cd.5cd34c","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":220,"wires":[]},{"id":"7276572c.a73bd8","type":"debug","z":"548aa71f.244668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":260,"wires":[]},{"id":"b07bc4a6.fd2d98","type":"file in","z":"548aa71f.244668","name":"","filename":"firefighter_ahmad_json.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":790,"y":120,"wires":[["8598fb9a.84fdb8"]]},{"id":"8598fb9a.84fdb8","type":"json","z":"548aa71f.244668","name":"","property":"payload","action":"","pretty":false,"x":730,"y":160,"wires":[["d7bb9db0.e364a"]]},{"id":"d7bb9db0.e364a","type":"function","z":"548aa71f.244668","name":"JSON parser","func":"p=msg.payload;\n\n //var name = {payload: p.name_of_firefighter};\n var heart_rate = {payload: p.heart_rate};\n var body_temp = {payload: p.body_temp};\n var respiration_rate = {payload: p.respiration_rate};\n var SP_O2 = {payload: p.SP_O2};\n var ambient_temp = {payload: p.ambient_temp};\n\nmsg.topic = p.name_of_firefighter;\n\n\n\n//return [heart_rate, body_temp, respiration_rate, SP_O2, ambient_temp,msg]\nreturn msg;\n//the order of output follows the sequence here^^^","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["2aef2ba1.f51994","bff2473.979b3b8","a7add35c.2baee","ee8bca91.4ba1a8","6a1f2447.08131c"]]},{"id":"2aef2ba1.f51994","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":1,"width":10,"height":1,"name":"heart rate","label":"{{msg.payload.topic}} Heart Rate","format":"{{msg.payload.heart_rate}}","layout":"row-spread","x":1040,"y":160,"wires":[]},{"id":"bff2473.979b3b8","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":2,"width":10,"height":1,"name":"body temp","label":"{{msg.payload.topic}} Body Temp","format":"{{msg.payload.body_temp}} ","layout":"row-spread","x":1050,"y":200,"wires":[]},{"id":"a7add35c.2baee","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":3,"width":10,"height":1,"name":"respiration rate","label":"{{msg.payload.topic}} Respiration Rate","format":"{{msg.payload.respiration_rate}}","layout":"row-spread","x":1060,"y":240,"wires":[]},{"id":"ee8bca91.4ba1a8","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":4,"width":10,"height":1,"name":"SP O2","label":"{{msg.payload.topic}} SP O2","format":"{{msg.payload.SP_O2}}","layout":"row-spread","x":1030,"y":280,"wires":[]},{"id":"6a1f2447.08131c","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":5,"width":10,"height":1,"name":"ambient temp","label":"{{msg.payload.topic}} Ambient Temp","format":"{{msg.payload.ambient_temp}}","layout":"row-spread","x":1060,"y":320,"wires":[]},{"id":"b4dda6e7.472408","type":"file in","z":"548aa71f.244668","name":"","filename":"firefighter_bernard_json.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1320,"y":120,"wires":[["49c6c1fe.91b73"]]},{"id":"49c6c1fe.91b73","type":"json","z":"548aa71f.244668","name":"","property":"payload","action":"","pretty":false,"x":1250,"y":160,"wires":[["da594f20.f7f9f"]]},{"id":"da594f20.f7f9f","type":"function","z":"548aa71f.244668","name":"JSON parser","func":"p=msg.payload;\n\n //var name = {payload: p.name_of_firefighter};\n var heart_rate = {payload: p.heart_rate};\n var body_temp = {payload: p.body_temp};\n var respiration_rate = {payload: p.respiration_rate};\n var SP_O2 = {payload: p.SP_O2};\n var ambient_temp = {payload: p.ambient_temp};\n\nmsg.topic = p.name_of_firefighter;\n\n\n\n//return [heart_rate, body_temp, respiration_rate, SP_O2, ambient_temp,msg]\nreturn msg;\n//the order of output follows the sequence here^^^","outputs":1,"noerr":0,"x":1390,"y":160,"wires":[["d0a63086.a3491","597b28c9.f6b918","9ab92ee5.f62b7","89601095.bb8ee","92981f02.efb95"]]},{"id":"d0a63086.a3491","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":7,"width":10,"height":1,"name":"heart rate","label":"{{msg.payload.topic}} Heart Rate","format":"{{msg.payload.heart_rate}}","layout":"row-spread","x":1560,"y":160,"wires":[]},{"id":"597b28c9.f6b918","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":8,"width":10,"height":1,"name":"body temp","label":"{{msg.payload.topic}} Body Temp","format":"{{msg.payload.body_temp}} ","layout":"row-spread","x":1570,"y":200,"wires":[]},{"id":"9ab92ee5.f62b7","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":9,"width":10,"height":1,"name":"respiration rate","label":"{{msg.payload.topic}} Respiration Rate","format":"{{msg.payload.respiration_rate}}","layout":"row-spread","x":1580,"y":240,"wires":[]},{"id":"89601095.bb8ee","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":10,"width":10,"height":1,"name":"SP O2","label":"{{msg.payload.topic}} SP O2","format":"{{msg.payload.SP_O2}}","layout":"row-spread","x":1550,"y":280,"wires":[]},{"id":"92981f02.efb95","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":11,"width":10,"height":1,"name":"ambient temp","label":"{{msg.payload.topic}} Ambient Temp","format":"{{msg.payload.ambient_temp}}","layout":"row-spread","x":1580,"y":320,"wires":[]},{"id":"c1150db6.190ae","type":"file in","z":"548aa71f.244668","name":"","filename":"firefighter_charly_json.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1850,"y":120,"wires":[["87009bfa.888cc8"]]},{"id":"87009bfa.888cc8","type":"json","z":"548aa71f.244668","name":"","property":"payload","action":"","pretty":false,"x":1790,"y":160,"wires":[["e34febbe.d6b788"]]},{"id":"e34febbe.d6b788","type":"function","z":"548aa71f.244668","name":"JSON parser","func":"p=msg.payload;\n\n //var name = {payload: p.name_of_firefighter};\n var heart_rate = {payload: p.heart_rate};\n var body_temp = {payload: p.body_temp};\n var respiration_rate = {payload: p.respiration_rate};\n var SP_O2 = {payload: p.SP_O2};\n var ambient_temp = {payload: p.ambient_temp};\n\nmsg.topic = p.name_of_firefighter;\n\n\n\n//return [heart_rate, body_temp, respiration_rate, SP_O2, ambient_temp,msg]\nreturn msg;\n//the order of output follows the sequence here^^^","outputs":1,"noerr":0,"x":1930,"y":160,"wires":[["df3ecd4.6b6923","b1ffacbe.d5b96","a6b9c835.c4f318","44641ca7.008324","a8b6b895.2d8438"]]},{"id":"df3ecd4.6b6923","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":13,"width":10,"height":1,"name":"heart rate","label":"{{msg.payload.topic}} Heart Rate","format":"{{msg.payload.heart_rate}}","layout":"row-spread","x":2100,"y":160,"wires":[]},{"id":"b1ffacbe.d5b96","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":14,"width":10,"height":1,"name":"body temp","label":"{{msg.payload.topic}} Body Temp","format":"{{msg.payload.body_temp}} ","layout":"row-spread","x":2110,"y":200,"wires":[]},{"id":"a6b9c835.c4f318","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":15,"width":10,"height":1,"name":"respiration rate","label":"{{msg.payload.topic}} Respiration Rate","format":"{{msg.payload.respiration_rate}}","layout":"row-spread","x":2120,"y":240,"wires":[]},{"id":"44641ca7.008324","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":16,"width":10,"height":1,"name":"SP O2","label":"{{msg.payload.topic}} SP O2","format":"{{msg.payload.SP_O2}}","layout":"row-spread","x":2090,"y":280,"wires":[]},{"id":"a8b6b895.2d8438","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":17,"width":10,"height":1,"name":"ambient temp","label":"{{msg.payload.topic}} Ambient Temp","format":"{{msg.payload.ambient_temp}}","layout":"row-spread","x":2120,"y":320,"wires":[]},{"id":"83c37ca.d58f38","type":"file in","z":"548aa71f.244668","name":"","filename":"firefighter_ding_woo_json.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2380,"y":120,"wires":[["838aa5f0.4994b8"]]},{"id":"838aa5f0.4994b8","type":"json","z":"548aa71f.244668","name":"","property":"payload","action":"","pretty":false,"x":2310,"y":160,"wires":[["9af878ca.aa1228"]]},{"id":"9af878ca.aa1228","type":"function","z":"548aa71f.244668","name":"JSON parser","func":"p=msg.payload;\n\n //var name = {payload: p.name_of_firefighter};\n var heart_rate = {payload: p.heart_rate};\n var body_temp = {payload: p.body_temp};\n var respiration_rate = {payload: p.respiration_rate};\n var SP_O2 = {payload: p.SP_O2};\n var ambient_temp = {payload: p.ambient_temp};\n\nmsg.topic = p.name_of_firefighter;\n\n\n\n//return [heart_rate, body_temp, respiration_rate, SP_O2, ambient_temp,msg]\nreturn msg;\n//the order of output follows the sequence here^^^","outputs":1,"noerr":0,"x":2450,"y":160,"wires":[["70a1fad4.35b4d4","e9c1ac07.46f4a","88ee0823.9336e8","39a038b1.e5b808","62871fa8.30681"]]},{"id":"70a1fad4.35b4d4","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":19,"width":10,"height":1,"name":"heart rate","label":"{{msg.payload.topic}} Heart Rate","format":"{{msg.payload.heart_rate}}","layout":"row-spread","x":2620,"y":160,"wires":[]},{"id":"e9c1ac07.46f4a","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":20,"width":10,"height":1,"name":"body temp","label":"{{msg.payload.topic}} Body Temp","format":"{{msg.payload.body_temp}} ","layout":"row-spread","x":2630,"y":200,"wires":[]},{"id":"88ee0823.9336e8","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":21,"width":10,"height":1,"name":"respiration rate","label":"{{msg.payload.topic}} Respiration Rate","format":"{{msg.payload.respiration_rate}}","layout":"row-spread","x":2640,"y":240,"wires":[]},{"id":"39a038b1.e5b808","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":22,"width":10,"height":1,"name":"SP O2","label":"{{msg.payload.topic}} SP O2","format":"{{msg.payload.SP_O2}}","layout":"row-spread","x":2610,"y":280,"wires":[]},{"id":"62871fa8.30681","type":"ui_text","z":"548aa71f.244668","group":"936923a1.d2b26","order":23,"width":10,"height":1,"name":"ambient temp","label":"{{msg.payload.topic}} Ambient Temp","format":"{{msg.payload.ambient_temp}}","layout":"row-spread","x":2640,"y":320,"wires":[]},{"id":"3840306f.644bd","type":"inject","z":"548aa71f.244668","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":1590,"y":40,"wires":[["b07bc4a6.fd2d98","b4dda6e7.472408","c1150db6.190ae","83c37ca.d58f38"]]},{"id":"2ff5361e.d05e5a","type":"ui_media","z":"548aa71f.244668","group":"fdafd4b.1448928","name":"clip1","width":9,"height":5,"order":1,"category":"clips","file":"clip_1.mp4","layout":"center","showcontrols":false,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":2970,"y":60,"wires":[[]]},{"id":"21a1cf2c.d2e14","type":"ui_media","z":"548aa71f.244668","group":"fdafd4b.1448928","name":"clip2","width":9,"height":5,"order":3,"category":"clips","file":"clip_2.mp4","layout":"expand","showcontrols":false,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":2970,"y":100,"wires":[[]]},{"id":"2930aa4f.9f7806","type":"ui_media","z":"548aa71f.244668","group":"fdafd4b.1448928","name":"clip3","width":9,"height":5,"order":5,"category":"clips","file":"clip_3.mp4","layout":"expand","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":2970,"y":140,"wires":[[]]},{"id":"2e20e84e.34f1e8","type":"ui_media","z":"548aa71f.244668","group":"fdafd4b.1448928","name":"clip4","width":9,"height":5,"order":7,"category":"clips","file":"clip_4.mp4","layout":"expand","showcontrols":false,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":2970,"y":180,"wires":[[]]},{"id":"936923a1.d2b26","type":"ui_group","z":"","name":"Firefighter Vitals","tab":"d8452e8a.1ec08","order":1,"disp":true,"width":10,"collapse":false},{"id":"fdafd4b.1448928","type":"ui_group","z":"","name":"Live Video Feed","tab":"d8452e8a.1ec08","order":2,"disp":true,"width":9,"collapse":false},{"id":"d8452e8a.1ec08","type":"ui_tab","z":"","name":"ROTA Dashboard","icon":"dashboard","disabled":false,"hidden":false}]